/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/
body {
    background-color: #Eeeeee;
    margin: 0;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

/* --- HERO SECTION -  --- */
.hero {
    background-image: url(https://a.cdn-hotels.com/gdcs/production121/d137/d4030d17-700f-4fd1-9c05-4b1742c7a6c3.jpg?impolicy=fcrop&w=800&h=533&q=medium);
    background-size: cover;
    width: 720px;
    height: 340px;
    margin-right: auto;
    margin-left: auto;

    color: white;
    
    /*padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 260px;
    padding-right: 260px;
    
    CANNOT FIGURE OUT THE SPECIFIC
    PADDING TARGETING W/O DESIGNATING ID/CLASS
    FOR HTML ELEMENTS...I DON'T WANNA DO THIS
    */

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- HERO SECTION - Header Coloring & Spacing Cosmetics--- */
h1 {
    background: #1D3557;

    font-size: 32pt;
    line-height: 36px;
    
    padding: 10px 15px;
    border-radius: 20px;
    
}

h2 {
    background: #457B9D;
    
    font-size: 18pt;
    width: 350px;
    line-height: 30px;
    
    padding: 5px 20px;
    border-radius: 20px;
}

/* --- ACTIVITIES SECTION --- */
.img {
    width: 100px;
    height: 100px;
    display: block;
    padding-left: 50px;

    border-radius: 30px;
}

.activites {
    background-color: #F1FAEE;
 
    height: 380px;
    width: 720px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 720px;
    margin-left: auto;
    margin-right: auto;

}

.activities h3 {
    padding-top: 40px;
    padding-bottom: 60px;
}

.miniflexbox {
    display: inline-flex;
    /*The Fact that I am even resorting to inline-flex...fml, this should be wrong*/
    flex-wrap: wrap;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    justify-content: center;
    /*border: 1px solid blue;*/
}

.miniflexbox h4 {
    margin-bottom: 0px;
}

/* --- GUIDE SECTION --- */
.avatar {
    width: 180px;
    height: 250px;
    border-radius: 20px;
}

.card{
    display: flex;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /*border: 1px solid black;*/

    text-align: center;
    justify-content: space-around;

    background: #A8DADC;
    border-radius: 20px;
    border-bottom: 10px solid black; 
}