/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/
body {
    background-color: #Eeeeee;
    margin: 0;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

/* --- HERO SECTION -  --- */
.hero {
    background-image: url(https://a.cdn-hotels.com/gdcs/production121/d137/d4030d17-700f-4fd1-9c05-4b1742c7a6c3.jpg?impolicy=fcrop&w=800&h=533&q=medium);
    background-size: cover;

    /*Note - Background-repeat makes the image resize to the DOM window*/
    background-repeat: no-repeat;
    
    height: 400px;

    margin-right: auto;
    margin-left: auto;
/*  margin = 0px; could have also been used in lieu of margin:auto;*/


    color: white;
    
    /* Method 1 - Using FlexBox on the overall container w/ 
    display: inline-block applied to individual HTML elements */
    
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/

    
    
    

}

/* --- HERO SECTION - Header Coloring & Spacing Cosmetics--- */
.hero1 {
    display: inline-block;
    background: #1D3557;

    font-size: 32pt;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    
    align-items: center;

}

.hero2 {
    display: inline-block;
    /*margin-right: auto;
    margin-left:auto;
    width: 200px;*/
    background: #457B9D;

    font-size: 14pt;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;

    align-items: center;
}

/* --- ACTIVITIES SECTION --- */
#header-middle-flex {
    margin-top: 0px;
    margin-bottom: 30px; 
/* The <h3> header tag has native margins that 
override the margins of the surrounding container */
}

.img {
    width: 100px;
    height: 100px;

    display: block;
    
    border-radius: 30px;
}

.middle {
    background: #F1FAEE;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.miniflexbox {
    display: flex;
    /*The Fact that I am even resorting to inline-flex...fml, this should be wrong*/
    flex-wrap: wrap;
    
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
    flex-direction: column;
    align-items: center;

    /*border: 1px solid blue;*/
}

.mid-h4 {
    margin-bottom: 0px;
}



/* --- GUIDE SECTION --- */
.avatar {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.bottom {
    background: white;

    margin-right:auto;
    margin-left:auto;

    padding-top: 50px;
    padding-bottom: 50px;
}

.card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* Alternate code-method of display: inline-flex */

    width: 400px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*border: 1px solid black;*/

    text-align: center;
    align-items: center;

    background: #A8DADC;
    border-radius: 20px;
    border-bottom: 10px solid black; 
}

.bot-h3 {
    margin:0px;
}

.bot-h4 {
    margin:0px;
}